.loader {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background:
        conic-gradient(from 180deg at 50% 50%, rgba(241, 241, 241, 0), rgb(81, 45, 228));
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
    animation: spin 1.5s 1;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}