.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
}

.developerHeader {

}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
    border: solid 1px black;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.loading {

}