.container {
    margin-top: 36px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 19px
}

.number {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
}
